html {height: 100%; min-height: 100%; background-color: #fff;}
/*
We need to set the backgound color to in order to avoid a white flash when loading.
*/
body {height: 100% !important; min-height: 100% !important; background-color: #fff;}

h1 {font-size: 1.8em; font-weight: bold;}
h2 {font-size: 1.6em; font-weight: bold;}
h3 {font-size: 1.4em; font-weight: bold;}
h5 {font-size: 1.2em; font-weight: bold;}
h6 {font-size: 1em; font-weight: bold;}

textarea {
	font-family: sans;
	font-size: 1em;
	border: solid 1px #e5e5e5;
	background-color: #fafafa;
}

.content-container h1, .content-container h2, 
.content-container h3, .content-container h4, 
.content-container h5, .content-container h6  {color: #404040; font-weight: normal;}

.inline-ul {
	list-style-type: none;
	display: block;
	margin: 0 0 0 14px;
	padding: 0;
	width: 100%;
	position: relative;
	min-height: 24px;
}

.inline-ul li {
	list-style-type: none; 
	display: inline; 
	margin: 0 2px 0 2px;
	padding: 0;
	white-space: nowrap;
	float: left;
	
}

.no-bullet-ul {
	list-style-type: none;
}

.no-bullet-ul li {list-style-type: none;}

#main .title
{
	margin: 4px 12px 14px 14px;
	color: #404040;
	font-size: 24px !important;
	font-weight: bold;
}

#main .page-title
{
	margin-left: 1%;
}

#main .title-container
{
	margin: 0 0 0 -24px;
	padding: 0 0 0 24px;
	height: 38px;
	width: 100%;
}

#main .content-container
{
	height: 90%;
	padding-left: 16px;
	margin-left: -16px;
	clear: both;
}

#nav
{
	min-height: 100%;
	margin-top: 0px;
	margin-bottom: 0;
	padding-bottom: 0px;
	padding-left: 0;
	padding-right: 4px;
	
	border-right: solid 1px #aaa;
	-moz-box-shadow:	0px 0px 10px #222;
	-webkit-box-shadow:	0px 0px 10px #222;
	box-shadow:		0px 0px 10px #222;
}

#nav .menu
{
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	
}
#nav .menu li {}
#nav .submenu
{
	width: 94% !important;
	margin-left: 5% !important;
}
#nav .submenu li {}
#nav .submenu-container {}
#nav .submenu-icon
{
	margin: 2px !important;
	padding: 0;
	float: right;
	width: 16px;
	height: 16px;
}
#nav .menu-link
{
	white-space: nowrap;
	display: inline-block;
	width: 96%;
	padding-right: 0;
	margin-right: 0;
}
#admin_menu {height: 99%;}

.dashboard-widgets
{
	margin-top: 10px;
	width: 100%;
	display: block;
	position: relative;
	height: 90%;
}

.dashboard-widgets .widget-box
{
	margin: 1%;
	padding: 0 !important;
	display: inline-block;
	height: 100%;
	max-height: 100%;
	float: left;
	text-align: center;
	border-right: dashed 1px #ddd;
}

.dashboard-widgets .widget-box-quarter {width: 22%;}
.dashboard-widgets .widget-box-third {width: 30%;}
.dashboard-widgets .widget-box-half {width: 47%;}

.dashboard-widgets .widget-box-item {
	margin: 0 1em 1em 0 !important;
}

.dashboard-widgets .widget-box-item-header {
	 margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em;
}

.dashboard-widgets .widget-box-item .ui-icon { float: right; }
.dashboard-widgets .widget-box-item .widget-box-item-content { padding: 0.4em; text-align: left;}

.dashboard-widgets .list-item .list-item-label { font-weight: bold; font-size: 0.8em;}
.dashboard-widgets .list-item .list-item-content { float: right; font-size: 0.8em;}

.dashboard-widgets .list-item li { border-top: dotted 1px #aaa; font-size: 0.8em; color: #606060; }
.dashboard-widgets .list-item li:hover { background-color: #eefeff; }

.dashboard-widgets .list-item li a {font-size: 0.8em !important; color: #006acf;}

.dashboard-widgets .ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.dashboard-widgets .ui-sortable-placeholder * { visibility: hidden; }

.page-header {display: block; position: relative; width: 99%; min-height: 24px;}

.quick-form-container {
	position: absolute; border: solid 1px #aaa; background-color: #fff; z-index: 1; margin-left: -3px !important; padding: 2px; min-width: 100px; float: right; 
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	box-shadow: 3px 3px 8px #000;
}

.quick-form-tab {padding: 0; margin: 0; border: none; }
.quick-form-tab-over {}

.quick-form-unordered-list {width: 94%;}

label.error {font-weight: normal !important; font-size: 1.0em; font-style: italic; clear: both !important; width: 100%;}