#layout {
	padding-left:300px; /* "left col" width */ 
	padding-right:150px; /* "right col" width */
	display: block;
	position: relative;
}

#nav {
	margin-left:-300px; /* "left col" width */
	width:300px;
	position: absolute;
	border: solid 1px #aaa;
}

#extra {
	width:150px;
	margin-right:-150px; /* "right col" width */
}

#main {
	width:96%;
	padding-left: 2%;
	padding-right: 2%;
	position: absolute;
}

#header {
	width: 100% !important;
	display: block;
	clear: both;
}